<ion-view title="Editar" ng-controller="EditorCtrl as ctrl">
    <ion-content>
        <button class="button button-assertive" ng-click="ctrl.getDados()">Carregar</button>
        <div class="list">

            <div class="item item-button-right" ng-repeat="item in ctrl.result track by $index">
                {{item.nome}}
                <div class="buttons">
                    <button class="button button-positive">
                        <i class="icon ion-edit"></i>
                    </button>
                    <button class="button button-assertive">
                        <i class="ion-trash-a"></i>
                    </button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>